/*These are the styles for index.html*/ 

.index-body {
    background-color: rgb(255, 168, 168)
}

.index-header {
    background-color: rgb(253, 182, 182);
    font-size: 50px;
    text-align: center;
}

.img-index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.recipe {
    text-align: center;
    font-size: 20px;
}

/*These are the styles for Garlic-Fried-Chicken.html*/

.chicken-body {
    background-color: rgb(223, 161, 104);
}

.chicken-header {
    background-color: rgb(245, 179, 118);
}

/*These are the styles for slow-cooker-pulled-pork.html*/

.pork-body {
    background-color: rgb(163, 70, 54);
}

.pork-header {
    background-color: rgb(202, 101, 84);
}

/*These are the styles for rose-petal-pound-cake.html*/

.rose-body {
    background-color: rgb(107, 206, 209);
}

.rose-header {
    background-color: rgb(130, 229, 233);
}

/*These are styles that apply to multiple .html*/

body {
    font-family: Tahoma, Helvetica, sans-serif;
}